@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");


body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(211, 207, 207);
    font-family: "Roboto", sans-serif;
    display: flex;
    position: relative;
    height: 700vh;
}

/* BARRA INICIO VERTICAL */


.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}



.panel img{
    margin-top: 12%;
    margin-left: 30%;
    margin-bottom: 32%;
    width: 40%;
}

.menu{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;            
    align-items: center;
    text-align: center;

}

.menu img{
    max-width:100%;
    margin-top: 190%;
    display: flex;
    margin-left: 200%;
}

.menu .enlaces,
.dropdown-menu{
    padding: 1rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    text-decoration: none;
    transition: all 1s ease;
    position: relative;
    margin-left: 35%;
}

.menu .enlaces:after,
.dropdown-menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 5%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }

.menu .enlaces:hover:after,
.dropdown-menu:hover:after {
    background-color: black; /* Blue underline */
}

.menu .enlaces:hover,
.dropdown-menu:hover{
    font-weight: bold;
    transform: scale(1.05); /* Slightly enlarge the link */
}

.comentario{
    display: none;
}

.enlaces_listas {
    font-size: 1rem;
    margin-right: 100%;
    margin-left: 20%;
    list-style-type: none;
}

.enlaces_listas a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    
}

.enlaces_listas a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
    
}

.enlaces_listas a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
}


/* BARRA NAVEGACION HORIZONTAL*/
.barra-lateral {
    margin-top: 1px;
    width: 100%;
    height: 3%;
    align-items: center;
    background-color: rgb(211, 207, 207);
    display: flex; 
    justify-content: center;
    justify-content: space-between; 
}


.barra-lateral .barr h1{
    position: absolute;
    left: 22%;
    top: 1%;
}


.barra-lateral .barr {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    padding-left: 0%;
}

.barra-lateral .barr li {
    list-style-type: none;
    align-items: center;
}

.barra-lateral .barr .buscar {
    position: absolute;
    left: 52%;
    width: 25%;
    height: 55px;
    border-radius: 10px;
    padding: 20px;
    border: transparent;
}


.uno{
    position: absolute;
    left: 80%;

}

.barra-lateral .barr .uno li{
    border-radius: 150px;
    background-color: rgb(243, 240, 240);
    margin-left: 15px;
    display: inline-block;
    align-items: center;
    margin-top: 15px;
    height: 40px;
    width: 40px;
    position: relative;
}

.barra-lateral .barr .uno li img{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 13%;
    cursor: pointer;
}

.dos img{
    width: 40px;
    height: 30px;
}

.select_idiomas{
    background-color: transparent;
    outline: none;
    margin-right: 15px;
}

/* CONTENEDORES DE PRODUCTOS */
.main-container{
    position: absolute;
    display: grid;
    place-items:center;
    top: 2.5%;
    left: 42%;
    flex-direction: row;
    background-color: white;
    width: 45%;
    height: 5%;
    border-radius: 30px;
    z-index: 997;
    border-bottom: 2px solid grey;
}



.main-container .listo li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 30px;
}


.main-container .listo{
    padding-right: 60%
}

.listo a{
    color: rgb(5, 5, 5);
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.listo a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition:transform 0.8s ease-out;
}

.listo a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.listo img{
    width: 4%;
    left: 10%;
    top: 21%;
    position: absolute;
}

.listo .imagen_novedades{
    width: 4%;
    left: 10%;
    top: 41%;
    position: absolute;
}

.listo .imagen_ofertas{
    width: 4%;
    left: 10%;
    top: 55%;
    position: absolute;
}

.divs {
    display: none;
    position: absolute;
    top: 25%;
    left: -30%;
    width: 12%;
    height: 10%;
    margin-left: 90%;
}

.divs .imagen_dest{
    width: 90%; 
    margin-top: -45%;
    margin-left:70% ;
}

.divs .titulo_destacados{
    position: absolute;
    top: 250%;

}

.divs .parrafo_destacados{
    position: absolute;
    top: 400%;
    left: 90%;
    text-align: center;
}

.divs .titulo_novedades{
    position: absolute;
    top: 250%;
}

.divs .parrafo_novedades{
    position: absolute;
    top: 400%;
    left: 70%;
    text-align: center;
}

.divs .titulo_ofertas{
    position: absolute;
    top: 250%;
    left: 40%;
}

.divs .parrafo_ofertas{
    position: absolute;
    top: 420%;
    left: 80%;
    text-align: center;
}

.divs.active {
    display: block;
}

/* ORDENAR POR */
.lista_ordenar{
    position: absolute;
    top: 7.6%;
    left: 85%;
    width: 12%;
}

.lista_ordenar a {
    color: #000;
}

.titulo{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.lista_ordenar_lista{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 3%;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    cursor: pointer;
}

.losto{
    display: none;
}

/* OPCIONES */

.opciones{
    position: absolute;
    display: flex;
    top: 8.4%;
    right: 61%;
    flex-direction: column;
    width: 15%;
    height: 4.5%;
    background-color: white;
    text-align: center;
    border-radius: 15%;
}

.opciones p{
    display: flex;
    position: absolute;
    top: 25%;
    left: 28%;
}

.opciones input{
    position: absolute;
    top: 25%;
    left: 47%;
}

.opciones select{
    margin-bottom: 30px;
    margin-left: 68px;
    width: 40%;
    height: 30%; 
    border-bottom: 1px solid transparent;
    outline: transparent;
}

.opciones h1{
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: bold;
}

.container {
	position: absolute;
	z-index: 994;
	display: flex;
    flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
    top: 8%;
    left: 40%;
    width: auto;
    padding: 0;
}

.container .card {
	position: relative;
	width: 270px;
	height: 300px;
	background: white;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 10px;
	display: flex;
    right: 18%;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: black;
	font-size: 1rem;
}

/* SECCION MUJERES */


.mujeres_confecsport{
    position: absolute;
    display: grid;
    place-items:center;
    top: 18%;
    left: 43%;
    flex-direction: row;
    background-color: white;
    width: 45%;
    height: 4.8%;
    border-radius: 30px;
    z-index: 997;
    border-bottom: 2px solid grey;

}


.parrafon{
    text-align: center;
    width: 28%;
    margin-left: 63%;
    margin-top: -30%;
    font-weight: bold;
}


.mujeres_confecsport img{
    width: 53.8%;
    margin-left: -48%;
    overflow: hidden;
    border-radius: 30px;
}

/* opciones seccion mujeres */

.opciones2{
    background-color: white;
    position: absolute;
    display: flex;
    text-align: justify;
    padding: 1.5%;
    flex-direction: column;
    top: 25%;
    right: 61%;
    width: 15%;
    border-radius: 10%;
}

.opciones2 h1 {
    font-size: 1.5rem;
    position: relative;
    left: 20%;
}

.opciones2 a{
    position: relative;
    left: 20%;
    gap: 5%;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.lista_ordenar2{
    position: absolute;
    top: 23%;
    left: 85%;
    width: 12%;
}

.lista_ordenar2 a {
    color: #000;
}

.titulo2{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.lista_ordenar_lista2{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 3%;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    cursor: pointer;
}

.losto2{
    display: none;
}

.container2 {
	position: absolute;
	z-index: 994;
	display: flex;
    flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
    top: 24.6%;
    left: 41%;
}

.container2 .card2 {
	position: relative;
	width: 270px;
	height: 300px;
	background: white;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container2 .card2 .content2 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container2 .card2:hover .content2 {
	transform: translateY(-20px);
}

.container2 .card2 .content2 .imgBx2 {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container2 .card2 .content2 .imgBx2 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container2 .card2 .content2 .contentBx2 h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container2 .card2 .content2 .contentBx2 h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container2 .card2 .sci2 {
	position: absolute;
	bottom: 10px;
	display: flex;
    right: 18%;
}

.container2 .card2 .sci2 li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container2 .card2:hover .sci2 li {
	transform: translateY(0px);
	opacity: 1;
}

.container2 .card2 .sci2 li a {
	color: black;
	font-size: 1rem;
}

/* SECCION HOMBRES */
.hombres{
    margin-top:90%;
    width: 90%;
}


.hombres_confecsport{
    position: absolute;
    display: grid;
    place-items:center;
    top: 40%;
    left: 43%;
    flex-direction: row;
    background-color: white;
    width: 45%;
    height: 4.8%;
    border-radius: 30px;
    z-index: 997;
    border-bottom: 2px solid grey;

}


.parrafon2{
    text-align: center;
    width: 28%;
    margin-left: 63%;
    margin-top: -26%;
    font-weight: bold;
}


.hombres_confecsport img{
    width: 53.8%;
    margin-left: -48%;
    overflow: hidden;
    border-radius: 30px;
}

/* opciones seccion hombres */

.opciones3{
    background-color: white;
    position: absolute;
    display: flex;
    text-align: justify;
    padding: 1.5%;
    flex-direction: column;
    top: 47%;
    right: 61%;
    width: 15%;
    border-radius: 10%;
}

.opciones3 h1 {
    font-size: 1.5rem;
    position: relative;
    left: 20%;
}

.opciones3 a{
    position: relative;
    left: 20%;
    gap: 5%;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.lista_ordenar3{
    position: absolute;
    top: 45.7%;
    left: 85%;
    width: 12%;
}

.lista_ordenar3 a {
    color: #000;
}

.titulo3{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.lista_ordenar_lista3{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 3%;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    cursor: pointer;
}

.losto3{
    display: none;
}

.container3 {
	position: absolute;
	z-index: 994;
	display: flex;
    flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
    top: 46.7%;
    left: 41%;
}

.container3 .card3 {
	position: relative;
	width: 270px;
	height: 300px;
	background: white;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container3 .card3 .content3 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container3 .card3:hover .content3 {
	transform: translateY(-20px);
}

.container3 .card3 .content3 .imgBx3 {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container3 .card3 .content3 .imgBx3 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container3 .card3 .content3 .contentBx3 h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container3 .card3 .content3 .contentBx3 h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container3 .card3 .sci3 {
	position: absolute;
	bottom: 10px;
	display: flex;
    right: 18%;
}

.container3 .card3 .sci3 li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container3 .card3:hover .sci3 li {
	transform: translateY(0px);
	opacity: 1;
}

.container3 .card3 .sci3 li a {
	color: black;
	font-size: 1rem;
}

/* seccion ni単os */
.ni単os{
    margin-top:90%;
    width: 90%;
}


.ni単os_confecsport{
    position: absolute;
    display: grid;
    place-items:center;
    top: 56%;
    left: 43%;
    flex-direction: row;
    background-color: white;
    width: 45%;
    height: 4.8%;
    border-radius: 30px;
    z-index: 997;
    border-bottom: 2px solid grey;

}


.parrafon3{
    text-align: center;
    width: 30%;
    margin-left: 55%;
    margin-top: -26%;
    font-weight: bold;
}


.ni単os_confecsport img{
    width: 36.2%;
    margin-left: -65%;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 45px;
}

.opciones4{
    background-color: white;
    position: absolute;
    display: flex;
    text-align: justify;
    padding: 1.5%;
    flex-direction: column;
    top: 63%;
    right: 61%;
    width: 15%;
    border-radius: 10%;
}

.opciones4 h1 {
    font-size: 1.5rem;
    position: relative;
    left: 20%;
}

.opciones4 a{
    position: relative;
    left: 20%;
    gap: 5%;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.lista_ordenar4{
    position: absolute;
    top: 62%;
    left: 85%;
    width: 12%;
}

.lista_ordenar4 a {
    color: #000;
}

.titulo4{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.lista_ordenar_lista4{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 3%;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    cursor: pointer;
}

.losto4{
    display: none;
}

.container4 {
	position: absolute;
	z-index: 994;
	display: flex;
    flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
    top: 62.6%;
    left: 41%;
}

.container4 .card4 {
	position: relative;
	width: 270px;
	height: 300px;
	background: white;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container4 .card4 .content4 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container4 .card4:hover .content4 {
	transform: translateY(-20px);
}

.container4 .card4 .content4 .imgBx4 {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container4 .card4 .content4 .imgBx4 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container4 .card4 .content4 .contentBx4 h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container4 .card4 .content4 .contentBx4 h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container4 .card4 .sci4 {
	position: absolute;
	bottom: 10px;
	display: flex;
    right: 18%;
}

.container4 .card4 .sci4 li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container4 .card4:hover .sci4 li {
	transform: translateY(0px);
	opacity: 1;
}

.container4 .card4 .sci4 li a {
	color: black;
	font-size: 1rem;
}

