@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");


body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(211, 207, 207);
    font-family: "Roboto", sans-serif;
    position: relative;
}



.container {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    gap: 40px;
    width: 650px;
}


.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.seccion-registro {
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 40px;
}



.inp{
    height: 120%;
    width: 140%;
}



input {
    width: 140%;
    height: 150%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: transparent;
}


.seccion-indicador .codigo-pais{
    position: relative;
    margin-top: 20px;
    margin-right: 170px;
    margin-bottom: 50px;
}



.seccion-telefono{
    position: absolute;
    margin-left: 375px;
    margin-top: 165px;
    width: 278px;
    height: 17%;
    padding-left: 100px;
}


.redes-sociales{
    display: flex;
}

.google{
    margin-right: 12px;
}

.facebook{
    margin-left: 12px;
}

.inferiores{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
}

.Continuar{
    width:80%;
    height: 40%;
    border-radius: 55px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.Continuar:hover {
  background-color: white; /* Cambia el color al pasar el mouse por encima */
  transform: scale(1.05); /* Escala el botón al pasar el mouse por encima */
  color: black;
}


.logo-toro{
    position: absolute;
    background-color: rgb(239, 240, 236);
    position: absolute;
    margin-right: 1500px;
    width: 550px;
    height: 550px;
    text-align: center;
    margin-top: 0px;
    border-radius: 50px;
}



h2{
    font-size: 3rem;
    margin-bottom: 5px;
}


.logo-toro img{
    margin-top: 90px;
}

